.alert-container {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 300px;
    height: 40px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
}

.alert-container button {
    position: absolute;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border: none;
    background: transparent;
    cursor: pointer;

    border-radius: 3px;
}

.alert-container button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.icon-container {
    position: absolute;
    left: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}