.alert-container {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 300px;
    height: 40px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-container button {
    position: absolute;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    min-height: 30px;

    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;

    border-radius: 3px;
}

.alert-container button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.icon-container {
    position: absolute;
    left: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-container.success {
    background-color: #dcfce7;
    border: 1px solid #22c55e;
    color: #166534;
}

.alert-container.warning {
    background-color: #fef3c7;
    border: 1px solid #f59e0b;
    color: #92400e;
}

.alert-container.error {
    background-color: #fee2e2;
    border: 1px solid #ef4444;
    color: #991b1b;
}